.header a, a:hover {
    color: #0a89f7;
    text-decoration: none;
}

.header h1 {
    letter-spacing: 5px;
    font-size: 300%;
    text-align: center;
}

.header p {
    color: white !important;
    font-size: 90%;
    letter-spacing: 3px;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0px;
}

html, body {
    height: 100%;
}
